.svg-container { width: 100%; }

.w3-darkblue, .w3-darkblue:hover {
    color: #fff!important;
    background-color:rgb(63, 75, 88)!important;
}

#row-chart > svg > g > g.row > text { fill: rgb(82, 80, 80); }
#row-chart text.row,
#heatmap-chart text
{ font-size: 0.75em; }

#sun-burst g.pie-slice.selected path { stroke-width: 0; }

#data-table td { font-size: 0.8em; }
#data-table label,
#data-table th,
#mySidebar .sel { font-size: 0.85em; }

#sel-departments option,
#sel-years option,
#sel-fundtypes option,
#sel-fundtypes-years option,
#sel-branch-programs option { font-size: 0.8em; }

#DataTables_Table_0_wrapper { margin-top: 0.5em; }

.heat-box {
    stroke: black;
    stroke-width: 0.05em;
}

span.number-display { font-size: 2.5em; }

@media (min-width: 1920px) {
    span.number-display { font-size: 4.75em; }
}